.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited {
  color: #007bff; /* Link rengi */
  text-decoration: none; /* Alt çizgiyi kaldır */
}

a:hover {
  color: red; /* Link rengi */
  text-decoration: none; /* Alt çizgiyi kaldır */
}

.myButton {
  display: flex;
  padding: 10px 20px;
  color:gray;
  text-decoration: none;
  border:none;
  border-radius: 1rem;
  background-color: #fff;
  pointer-events: auto; /* Varsayılan değer, etkileşime izin verir */
  width: 100%;
}

.myButton:hover {
  background: #ffffff;
  background: linear-gradient(343deg,#ffffff 0%, #646cff 400%);
  background: -webkit-linear-gradient(343deg,#ffffff 0%, #646cff 400%);
  background: -moz-linear-gradient(343deg,#ffffff 0%, #646cff 400%);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-weight: bold;
}


.myButton:active {
  background-color: #646cff;
  pointer-events: none; /* Tıklama anındaki etkileşimi devre dışı bırakır */
}

.hrStyleTwo {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 100%;
  margin: 10px 0;
}

.menu-baslik {
  font-size: 1.2em;
  line-height: 1.1;
  text-align: center;
  color: #646cffaa;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.custom-container {
  border-radius: 1rem;
  box-shadow: -12px 20px 20px 1px rgba(0,0,0,0.2);
-webkit-box-shadow: -12px 20px 20px 1px rgba(0,0,0,0.2);
-moz-box-shadow: -12px 20px 20px 1px rgba(0,0,0,0.2);
  width: 500px;
  height:auto;
  background-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
