:root {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
line-height: 1.5;
font-weight: 400;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #274490;
  background: linear-gradient(164deg,#274490 0%, #008fcf 50%);
  background: -webkit-linear-gradient(164deg,#274490 0%, #008fcf 50%);
  background: -moz-linear-gradient(164deg,#274490 0%, #008fcf 50%);
  background-attachment: fixed;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




